SysClientes/SysClientes/Connected Services/WcfTipoCliente/ServiceTipoCliente.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_CRUD" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_CRUD" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TipoCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="GetSetTICL_DESCRICAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GetSetTICL_PK_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="GetSetTICL_TIPO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoCliente" nillable="true" type="tns:TipoCliente" />
</xs:schema>