SysClientes/SysClientes/Connected Services/WcfSituacaoClientes/ServiceSituacaoCliente.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceSituacaoCliente" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57999/ServiceSituacaoCliente.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57999/ServiceSituacaoCliente.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57999/ServiceSituacaoCliente.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_CRUD" />
      <xsd:import schemaLocation="http://localhost:57999/ServiceSituacaoCliente.svc?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceSituacaoCliente_InsertSituacaoCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertSituacaoCliente" />
  </wsdl:message>
  <wsdl:message name="IServiceSituacaoCliente_InsertSituacaoCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertSituacaoClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSituacaoCliente_GetSituacaoCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSituacaoCliente" />
  </wsdl:message>
  <wsdl:message name="IServiceSituacaoCliente_GetSituacaoCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSituacaoClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSituacaoCliente_FetchUpdatedRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchUpdatedRecords" />
  </wsdl:message>
  <wsdl:message name="IServiceSituacaoCliente_FetchUpdatedRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchUpdatedRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSituacaoCliente_UpdateSituacaoCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSituacaoCliente" />
  </wsdl:message>
  <wsdl:message name="IServiceSituacaoCliente_UpdateSituacaoCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSituacaoClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSituacaoCliente_DeleteSituacaoCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSituacaoCliente" />
  </wsdl:message>
  <wsdl:message name="IServiceSituacaoCliente_DeleteSituacaoCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSituacaoClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceSituacaoCliente">
    <wsdl:operation name="InsertSituacaoCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSituacaoCliente/InsertSituacaoCliente" message="tns:IServiceSituacaoCliente_InsertSituacaoCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSituacaoCliente/InsertSituacaoClienteResponse" message="tns:IServiceSituacaoCliente_InsertSituacaoCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSituacaoCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSituacaoCliente/GetSituacaoCliente" message="tns:IServiceSituacaoCliente_GetSituacaoCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSituacaoCliente/GetSituacaoClienteResponse" message="tns:IServiceSituacaoCliente_GetSituacaoCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchUpdatedRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSituacaoCliente/FetchUpdatedRecords" message="tns:IServiceSituacaoCliente_FetchUpdatedRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSituacaoCliente/FetchUpdatedRecordsResponse" message="tns:IServiceSituacaoCliente_FetchUpdatedRecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSituacaoCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSituacaoCliente/UpdateSituacaoCliente" message="tns:IServiceSituacaoCliente_UpdateSituacaoCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSituacaoCliente/UpdateSituacaoClienteResponse" message="tns:IServiceSituacaoCliente_UpdateSituacaoCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSituacaoCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSituacaoCliente/DeleteSituacaoCliente" message="tns:IServiceSituacaoCliente_DeleteSituacaoCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSituacaoCliente/DeleteSituacaoClienteResponse" message="tns:IServiceSituacaoCliente_DeleteSituacaoCliente_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceSituacaoCliente" type="tns:IServiceSituacaoCliente">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertSituacaoCliente">
      <soap:operation soapAction="http://tempuri.org/IServiceSituacaoCliente/InsertSituacaoCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSituacaoCliente">
      <soap:operation soapAction="http://tempuri.org/IServiceSituacaoCliente/GetSituacaoCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchUpdatedRecords">
      <soap:operation soapAction="http://tempuri.org/IServiceSituacaoCliente/FetchUpdatedRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSituacaoCliente">
      <soap:operation soapAction="http://tempuri.org/IServiceSituacaoCliente/UpdateSituacaoCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSituacaoCliente">
      <soap:operation soapAction="http://tempuri.org/IServiceSituacaoCliente/DeleteSituacaoCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceSituacaoCliente">
    <wsdl:port name="BasicHttpBinding_IServiceSituacaoCliente" binding="tns:BasicHttpBinding_IServiceSituacaoCliente">
      <soap:address location="http://localhost:57999/ServiceSituacaoCliente.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>