SysClientes/SysClientes/Connected Services/WcfSituacaoClientes/ServiceSituacaoCliente1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_CRUD" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_CRUD" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SituacaoCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="GetSetSICL_DESCRICAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GetSetSICL_PK_ID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SituacaoCliente" nillable="true" type="tns:SituacaoCliente" />
</xs:schema>