SysClientes/SysClientes/Connected Services/WcfCliente/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57999/Cliente.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57999/Cliente.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57999/Cliente.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_CRUD" />
      <xsd:import schemaLocation="http://localhost:57999/Cliente.svc?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICliente_InsertClientes_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertClientes" />
  </wsdl:message>
  <wsdl:message name="ICliente_InsertClientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertClientesResponse" />
  </wsdl:message>
  <wsdl:message name="ICliente_GetClientes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientes" />
  </wsdl:message>
  <wsdl:message name="ICliente_GetClientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientesResponse" />
  </wsdl:message>
  <wsdl:message name="ICliente_FetchUpdatedRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchUpdatedRecords" />
  </wsdl:message>
  <wsdl:message name="ICliente_FetchUpdatedRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchUpdatedRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="ICliente_UpdateClientes_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateClientes" />
  </wsdl:message>
  <wsdl:message name="ICliente_UpdateClientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateClientesResponse" />
  </wsdl:message>
  <wsdl:message name="ICliente_DeleteClientes_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteClientes" />
  </wsdl:message>
  <wsdl:message name="ICliente_DeleteClientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteClientesResponse" />
  </wsdl:message>
  <wsdl:portType name="ICliente">
    <wsdl:operation name="InsertClientes">
      <wsdl:input wsaw:Action="http://tempuri.org/ICliente/InsertClientes" message="tns:ICliente_InsertClientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICliente/InsertClientesResponse" message="tns:ICliente_InsertClientes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientes">
      <wsdl:input wsaw:Action="http://tempuri.org/ICliente/GetClientes" message="tns:ICliente_GetClientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICliente/GetClientesResponse" message="tns:ICliente_GetClientes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchUpdatedRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/ICliente/FetchUpdatedRecords" message="tns:ICliente_FetchUpdatedRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICliente/FetchUpdatedRecordsResponse" message="tns:ICliente_FetchUpdatedRecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateClientes">
      <wsdl:input wsaw:Action="http://tempuri.org/ICliente/UpdateClientes" message="tns:ICliente_UpdateClientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICliente/UpdateClientesResponse" message="tns:ICliente_UpdateClientes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteClientes">
      <wsdl:input wsaw:Action="http://tempuri.org/ICliente/DeleteClientes" message="tns:ICliente_DeleteClientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICliente/DeleteClientesResponse" message="tns:ICliente_DeleteClientes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICliente" type="tns:ICliente">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertClientes">
      <soap:operation soapAction="http://tempuri.org/ICliente/InsertClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientes">
      <soap:operation soapAction="http://tempuri.org/ICliente/GetClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchUpdatedRecords">
      <soap:operation soapAction="http://tempuri.org/ICliente/FetchUpdatedRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateClientes">
      <soap:operation soapAction="http://tempuri.org/ICliente/UpdateClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteClientes">
      <soap:operation soapAction="http://tempuri.org/ICliente/DeleteClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_ICliente" binding="tns:BasicHttpBinding_ICliente">
      <soap:address location="http://localhost:57999/Cliente.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>