SysClientes/SysClientes/Connected Services/WcfCliente/ServiceCliente1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_CRUD" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_CRUD" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Clientes">
    <xs:sequence>
      <xs:element minOccurs="0" name="GetSetCLIE_CPF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GetSetCLIE_FK_PK_SICL" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="GetSetCLIE_FK_PK_TICL" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="GetSetCLIE_NASCIMENTO" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GetSetCLIE_NOME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GetSetCLIE_PK_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="GetSetCLIE_SEXO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Clientes" nillable="true" type="tns:Clientes" />
</xs:schema>